RewriteEngine On
RewriteBase /

#force non-www version
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#particulars
RewriteRule ^profiles/(\w+)-(\w+)/?$ profiles.php?name=$1+$2
RewriteRule ^profiles/(\d+)/?$ profiles.php?id=$1
RewriteRule ^events/(\d+)/?$ events.php?id=$1
RewriteRule ^venues/(\d+)/?$ venues.php?id=$1
RewriteRule ^venues/([\w\d+'\-]+)/?$ venues.php?name=$1
RewriteRule ^password/([\w\d]{64})/?$ password.php?t=$1
RewriteRule ^register/([\w\d]{12})/?$ register.php?vc=$1
RewriteRule ^subscribe/([\w\d]{12})/?$ subscribe.php?code=$1
#catch-all for id queries
RewriteRule ^([\w\d_\-]+)/(\d+)/?$ $1.php?id=$2
#catch-all for base files
RewriteRule ^([\w\d_\-]+)/?$ $1.php