<h2>Add New Event</h2>
Fill out the form below to create a new event. You should only add events for gigs that are open
 to the public.<br />
If you want to copy the details from one of your previously created events to this one, check the box
 then select that event's name from the drop-down menu.
<br /><br />
Copy from previous event: <input type="checkbox" id="copyCheck"><select id="copySelect" value="none">
<option value="none"><i>Select Title</i></option>
<?php
//print an option for each event title.
foreach ($r as $row) {
    echo '<option value="'.$row['id'].'">'.$row['title'].'</option>';
}
?>
</select>
<br /><br />
<div id="eventForm">
<form action="./addevent.php" method="post">
    <?php

    createInput('title', 'text', $event_errors, 'Title: ');
    echo '<br />';
    
    createInput('venue', 'text', $event_errors, 'Venue: ');
    echo '<br />';
    
    createInput('date', 'date', $event_errors, 'Date (MM/DD/YY): ');
    echo '<br />';
    
    createInput('startHour', 'text', $event_errors, 'Start Time: ', null, array('size'=>2,'maxlength'=>2,'value'=>6));
    echo ':';
    createInput('startMin', 'text', $event_errors, '', null, array('size'=>2,'maxlength'=>2,'value'=>'00'));
    echo '<select name="startPeriod" id="startPeriod"><option value="am">AM</option><option value="pm" selected>PM</option></select>';
    echo '<br />';
    
    createInput('endHour', 'text', $event_errors, 'End Time: ', null, array('size'=>2,'maxlength'=>2,'value'=>8));
    echo ':';
    createInput('endMin', 'text', $event_errors, '', null, array('size'=>2,'maxlength'=>2,'value'=>'00'));
    echo '<select name="endPeriod" id="endPeriod"><option value="am">AM</option><option value="pm" selected>PM</option></select>';
    echo '<br />';
    
    createInput('desc', 'textarea', $event_errors, 'Description (Optional): ');
    echo '<br />';
    
    echo 'Band Members (Optional): ';
    echo '<div id="bandDiv">';
    echo '<div class="memberDiv">';
    createInput('band[]', 'text', $event_errors, 'Name: ', null, array('value'=>$_SESSION['name']));
    createInput('instr[]', 'text', $event_errors, 'Instrument: ', null, array('value'=>$instr));
    echo '<button class="memberDel">Remove</button>';
    echo '</div>';
    echo '</div>';
    echo '<button id="addMember">Add Band Member</button>';
    echo '<br /><br />';
    echo '<input type="submit">';
?>
    </form>
</div>