<script type="application/javascript" src="http://<?php echo BASE_URL; ?>js/addprofile.js"></script>
<h2>Create Musician Profile</h2>
Fill out the form below to create your musician profile.<br><br>

<div id="eventForm">
<form action="" method="post" enctype="multipart/form-data">
    <?php
    createInput('bio', 'textarea', $profile_errors, 'Bio (Optional): ');
    echo '<br />';
    createInput('instr', 'select', $profile_errors, 'Primary Instrument: ');
    echo '<br /><br />';
    echo 'Secondary Instrument(s) (Optional): ';
    if (array_key_exists('secinstr', $profile_errors)) {
        echo '<span class="error">' . $profile_errors['secinstr'] . '</span><br>';
    }
    echo '<div id="secInstrDiv">';
    //check for posted data
    if (!empty($_POST['secinstr'])) {
        $otherIndex = 0;
        for ($i = 0; $i < count($_POST['secinstr']); $i++) {
            //create the secondary instr selectors
            echo '<div class="memberDiv">';
            createInput('secinstr[]', 'select', $profile_errors, '', null, ['value' => $_POST['secinstr'][$i]]);
            //check if 'other'
            if ($_POST['secinstr'][$i] === 'other') {
                createInput('secInstrSelOther[]', 'text', $profile_errors, '', null, [
                    'value'=>$_POST['secInstrSelOther'][$otherIndex++], 'placeholder'=>'Please specify...', 'class'=>'instrSelOther'
                ]);
                echo '</span>';
            }
            echo '<button class="linkDel" type="button">Remove</button>';
            echo '</div>';
        }
    }

    echo '</div>';
    echo '<button type="button" id="addInstr">Add Secondary Instrument</button>';
    echo '<br /><br />';
    //create pic input
    echo '<label for="pic">Upload Your Photo (Optional): </label>';
    if (array_key_exists('pic', $profile_errors)) {
        echo '<span class="error">' . $profile_errors['pic'] . '</span><br>';
    }
    //echo '<input type="hidden" name="MAX_FILE_SIZE" value="30000" />';
    echo '<input type="file" name="pic" id="pic" />';
    if (isset($_SESSION['profpicname'])) {
        echo "<br />Currently '{$_SESSION['profpicname']}'";
    }
    echo '<br /><br />';
    //create links input
    echo 'Additional Links (Optional): ';
    echo '<div id="linksDiv">';
    //create an entry for all sticky items
    $posted = isset($_POST['links']); //true if values are present in post.
    for ($i=0; $i<($posted?count($_POST['links']):1); $i++) {
        echo '<div class="memberDiv">';
        createInput('links['.$i.']', 'text', $profile_errors, 'URL: ', null, array('value'=>($posted?$_POST['links'][$i]:'')));
        createInput('title['.$i.']', 'text', $profile_errors, 'Short Description: ', null, array('value'=>($posted?$_POST['title'][$i]:'')));
        echo '<button class="linkDel" type="button">Remove</button>';
        echo '</div>';
    }
    echo '</div>';
    echo '<button id="addLink" type="button">Add Another Link</button>';
    echo '<br /><br />';
    echo '<button type="submit">Submit</button>';
    ?>
    </form>
</div>