<script type="application/javascript" src="http://<?php echo BASE_URL; ?>js/addprofile.js"></script>
<script type="application/javascript" src="http://<?php echo BASE_URL; ?>js/cancel.js"></script>
<h2>Edit Profile</h2>
Edit any of the fields below then click 'Save'.<br>Don't select a new picture to keep the current one, or check 'No Picture' to delete it.
<br /><br />

<div id="eventForm">
<form action="http://<?php echo BASE_URL; ?>editprofile/<?php echo $_GET['id']; ?>/" method="post" enctype="multipart/form-data">
    <?php
    createInput('bio', 'textarea', $profile_errors, 'Bio (Optional): ', 'EDIT');
    echo '<br />';
    //instr input
    createInput('instr', 'select', $profile_errors, 'Primary Instrument: ', 'EDIT');
    echo '<br /><br />';
    //secondary instr input
    //store current database values
    echo '<input type="hidden" name="secinstrcur" value="' . (($_SERVER['REQUEST_METHOD'] === 'POST' && array_key_exists('secinstrcur', $_POST))?$_POST['secinstrcur']:htmlentities(json_encode($secInstr))) .'" />';
    echo 'Secondary Instrument(s) (Optional): ';
    if (array_key_exists('secinstr', $profile_errors)) {
        echo '<span class="error">' . $profile_errors['secinstr'] . '</span><br>';
    }
    echo '<div id="secInstrDiv">';
    //check for posted data
    if (!empty($_POST['secinstr']) || !empty($secInstr)) {
        $instr_array = array(
            'Bass', 'Trumpet', 'Piano', 'Saxophone', 'Drums', 'Trombone', 'Guitar', 'Vocal'
        );
        if (!empty($_POST['secinstr'])) $secInstr = $_POST['secinstr'];
        //$posted = isset($_POST['secinstr']); //true if values are present in post.
        for ($i = 0; $i < count($secInstr); $i++) {
            //create the secondary instr selectors
            echo '<div class="memberDiv">';
            //if in instr array, set the value directly
            if (in_array(ucwords($secInstr[$i]), $instr_array))
                createInput('secinstr[]', 'select', $profile_errors, '', null, ['value' => ucwords($secInstr[$i])]);
            else {
                //create the selector plus 'other' option
                createInput('secinstr[]', 'select', $profile_errors, '', null, ['value' => 'other']);
                createInput('secInstrSelOther['.$i.']', 'text', $profile_errors, '', null, [
                    'value'=>$_POST['secInstrSelOther'][$i], 'placeholder'=>'Please specify...', 'class'=>'instrSelOther'
                ]);
                echo '</span>';
            }
            echo '<button class="linkDel" type="button">Remove</button>';
            echo '</div>';
        }
    }

    echo '</div>';
    echo '<button type="button" id="addInstr">Add Secondary Instrument</button>';
    echo '<br /><br />';
    //create pic input
    echo '<label for="pic">Choose a New Picture (Optional): </label>';
    if (array_key_exists('pic', $profile_errors)) {
        echo '<span class="error">' . $profile_errors['pic'] . '</span><br>';
    }
    //echo '<input type="hidden" name="MAX_FILE_SIZE" value="30000" />';
    echo '<input type="file" name="pic" id="pic"/>';
    if (isset($_SESSION['profpicname'])) {
        echo "<br />Currently '{$_SESSION['profpicname']}'";
    }
    echo '<br />';
    echo '<label for="noPic">No Picture: </label>';
    echo '<input type="checkbox" name="noPic" id="noPic" />'; //check to not use a picture
    echo '<br /><br/>';
    //create links input
    echo 'Additional Links (Optional): ';
    echo '<div id="linksDiv">';
    //create an entry for all sticky items
    if (isset($_POST['links'])) { //true if values are present in post.
        for ($i=0; $i<count($_POST['links']); $i++) {
            echo '<div class="memberDiv">';
            createInput('links['.$i.']', 'text', $profile_errors, 'URL: ', null, array('value'=>$_POST['links'][$i]));
            createInput('title['.$i.']', 'text', $profile_errors, 'Short Description: ', null, array('value'=>$_POST['title'][$i]));
            echo '<button class="linkDel" type="button">Remove</button>';
            echo '</div>';
        }
    }else{ //using links from DB
        for ($i=0; $i<count($linkURL); $i++) {
            echo '<div class="memberDiv">';
            createInput('links['.$i.']', 'text', $profile_errors, 'URL: ', null, array('value'=>$linkURL[$i]));
            createInput('title['.$i.']', 'text', $profile_errors, 'Short Description: ', null, array('value'=>$linkName[$i]));
            echo '<button class="linkDel" type="button">Remove</button>';
            echo '</div>';
        }
    }
    echo '</div>';
    echo '<button id="addLink" type="button">Add A Link</button>';
    echo '<br /><br />';
    echo '<button type="submit">Save</button>';
    echo '<button id="cancelButton" type="button">Cancel</button>'; 
    ?>
    </form>
</div>