<h2>Account Summary for <?php echo ucwords($_SESSION['name']); ?></h2>
<div class="changePassword"><a href="http://<?php echo BASE_URL; ?>password/">Click Here to change your password</a>
</div>
<div class="accountEventsDiv">
    <h3>Your Events</h3>
    <a href="http://<?php echo BASE_URL; ?>reverbnation/">Import Events From ReverbNation</a>
    <table>
        <?php
        if ($events && $row = $events->fetch(PDO::FETCH_ASSOC)) {
            echo '<th>Date</th><th>Title</th>';
            do {
                echo '<tr>';
                echo '<td>'.$row['edate'].'</td>';
                //shorten title if longer than 25 chars
                $title = $row['title'];
                if (strlen($title) > 25) {
                    $title = substr($title, 0, 25);
                    $title .= '...';
                }
                echo '<td><a href="http://'.BASE_URL.'events/'.$row['id'].'/">'.$title.' @ '.$row['venue'].'</a></td>';
                echo '<td><a href="http://'.BASE_URL.'editevent/'.$row['id'].'/">Edit</a></td>';
                echo '<td><a href="http://'.BASE_URL.'removeevent/'.$row['id'].'/">Remove</a></td>';
            }while ($row = $events->fetch(PDO::FETCH_ASSOC));
            $events->closeCursor();
        }else{
            echo '<tr><td><i>You don\'t have any events</i></td></tr>';
        }
        ?>
    </table>
    <a href="http://<?php echo BASE_URL; ?>addevent/">Add a New Event</a>
</div>

<?php if ($taggedEvents): ?>
<div class="accountEventsDiv">
    <h3>Events You Are Tagged In</h3>
    <table>
        <?php
        if ($row = $taggedEvents->fetch(PDO::FETCH_ASSOC)) {
            echo '<th>Date</th><th>Title</th>';
            do {
                echo '<tr>';
                echo '<td>'.$row['edate'].'</td>';
                //shorten title if longer than 25 chars
                $title = $row['title'];
                if (strlen($title) > 25) {
                    $title = substr($title, 0, 25);
                    $title .= '...';
                }
                echo '<td><a href="http://'.BASE_URL.'events/'.$row['id'].'/">'.$title.' @ '.$row['venue'].'</a></td>';
                //untag
                echo '<td><a href="http://'.BASE_URL.'removetag/'.$row['id'].'/">Un-Tag</a></td>';
                echo '</tr>';
            }while ($row = $taggedEvents->fetch(PDO::FETCH_ASSOC));
        }else{
            echo '<tr><td><i>You haven\'t been tagged in any events.</i></td></tr>';
        }
        ?>
    </table>
</div>
<?php endif; ?>
<div class="accountProfileDiv">
    <h3>Musician Profile</h3>
    <ul>
    <?php
    if (!empty($_SESSION['hasProfile'])) {
        echo '<li><a href="http://'.BASE_URL.'profiles/'.str_replace('+','-',urlencode($_SESSION['name'])).'/">
        Click Here to view your profile page</a></li>';
        echo '<li><a href="http://'.BASE_URL.'editprofile/'.$_SESSION['id'].'/">
        Click Here to edit your profile page</a></li>';
        echo '<li><a href="http://'.BASE_URL.'removeprofile/'.$_SESSION['id'].'/">
        Click Here to delete your profile page</a></li>';
        echo '<li><a href="http://'.BASE_URL.'service/">Display your JIA calendar on your website.</a></li>';
    }else{
        echo '<li><i>You don\'t have a profile page.</i></li>';
        echo '<li><a href="http://'.BASE_URL.'addprofile/">Click Here to create your profile.</a></li>';
    }
    ?>
    </ul>
</div>
